<div class="container col-md-12 text-center">
  <div class="col-md-4">
    <img [src]="artist.images | nophoto" class="rounded-circle">
  </div>
  <div class="col-md-8 container">
    <p>{{ artist.name }}</p>
  </div>
</div>

<div class="container col-md-12">
  <h3>Top Tracks</h3>
  <ul class="list-group">
    <li *ngFor="let song of topTracks" class="list-group-item list-group-item-dark">
      <img src="song.album.images | nophoto" class="img-thumbnail">
      <div class="container">
        <p>{{ song.name }}</p>
      </div>
    </li>
  </ul>
</div>
