<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artist.images | nophoto" class="img-thumbnail rounded-circle">
    </div>
    <div class="col-md-9">
      <h1>{{ artist.name }}</h1>
      <hr>
      <a [href]="artist.external_urls?.spotify" target="_blank" class="btn btn-outline-primary">Play Spotify</a>
      <button routerLink="['/search']" type="button" class="btn btn-outline-danger">Back to search</button>
    </div>
  </div>

  <!-- <div class="row top30">
    <div class="col-md-12">
      <h3>Top Tracks</h3>
      <ul class="list-group">
        <li *ngFor="let song of topTracks" class="list-group-item list-group-item-dark">
          <img src="song.album.images | nophoto" class="img-thumbnail">
          <div class="container">
            <p>{{ song.name }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="row top30">
    <div class="col-md-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Popularity</th>
            <th scope="col">Play</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let song of topTracks; let idx = index">
            <td>{{ idx + 1 }}</td>
            <td>
              <img [src]="song.album.images | nophoto" class="img-thumbnail img-50">
            </td>
            <td>{{ song.name }}</td>
            <td>{{ song.popularity }} %</td>
            <td>
              <audio controls>
                <source [src]="song.preview_url">
                Your browser is too old.
              </audio>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
